$purple: #615aeb;
$purple-bold: #4e46e9;
.profile{
  .cover{
    margin-top: 20px;
    background-color: lightgray;
    height: 120px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  @media screen and (min-width: 768px) {
    .cover{
      margin-top: 30px;
      height: 150px;
    }
  }

  @media screen and (min-width: 992px) {
    .cover{
      height: 200px;
    }
  }

  .center-avatar{
    text-align: center;

    .avatar{
      margin-top: -60px;
      width: 120px;
      height: 120px;
      border-radius: 100px;
    }
  }

  .action{
    margin-top: 20px;
    text-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;

    .msg-button, .setting-button > button{
      background-color: $purple;
      border: $purple;
      height: 38px;
      margin-left: 10px;
    }
  
    .msg-button:hover, 
    .setting-button > button:hover{
      background-color: $purple-bold;
      border: $purple-bold;
    }
  
    .msg-button:focus,
    .setting-button > button:focus {
      background-color: $purple-bold !important;
      border: $purple-bold !important;
    }
  }

  .profile-data{
    margin-top: 20px;
  }

  .name{
    font-size: x-large;
    font-weight: bold;
  }

  .gender-age{
    text-transform: capitalize;
    margin-top: 5px;
    font-size: small;
  }
  .bio{
    font-size: small;
  }

  .history-data{
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .margin-top{
    margin-top: 20px;
  }

  .gallery-margin{
    margin-top: 20px;
  }

  @media screen and (min-width: 768px) {
    .action{
      justify-content: flex-end;
    }
    .margin-top{
      margin-top: 0px;
    }

    .setting{
      text-align: right;
    }
  }

  .grid-display{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 10px;
  }

  @media screen and (min-width: 768px) {
    .grid-display{
      grid-template-columns: repeat(4, 1fr);
    }
  }

  @media screen and (min-width: 992px) {
    .grid-display{
      grid-template-columns: repeat(5, 1fr);
    }
  }

  .photos{
    border: 1px solid rgba(0,0,0,.125);
    text-align: center;
  }

  .photos-list{
    height: 100px;
    width: auto;
    margin: auto;
  }
}