$purple: #615aeb;
$purple-bold: #4e46e9;
.otp{
  .center-posistion{
    position: absolute;
    width: 350px;
    height: fit-content;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  .guide{
    text-align: center;
    font-size: small;
  }

  .title{
    text-align: center;
    font-size: x-large;
    margin-bottom: 30px;
  }

  .otp-input{
    text-align: center;
    font-size: 20px;
    width: 50px;
    height: 50px;
    margin: auto;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number] {
    -moz-appearance: textfield;
  }

  .error-text{
    color: red !important;
    margin-top: 10px;
    margin-left: 9px;
  }

  button.verif-button{
    width: 100%;
    margin-top: 30px;
    background-color: $purple;
    border: $purple;
  }

  button.verif-button:hover{
    background-color: $purple-bold;
    border: $purple-bold;
  }

  button.verif-button:active,
  button.verif-button:focus {
    background-color: $purple-bold !important;
    border: $purple-bold !important;
  }

  .resend-card{
    margin-top: 20px;
    text-align: center;
  }

  .resend-text{
    color: $purple;
    cursor: pointer;
  }

  .resend-text:hover{
    text-decoration: underline;
  }
}