$purple: #615aeb;
$purple-bold: #4e46e9;
.edit{
  .container{
    .edit-card{
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width: 768px) {
    .container{
      max-width: 720px;
    }
  }

  .choose-text{
    margin-top: 20px;
  }

  .update-button{
    background-color: $purple;
    border: $purple;
  }

  .update-button:hover{
    background-color: $purple-bold;
    border: $purple-bold;
  }

  .update-button:focus {
    background-color: $purple-bold !important;
    border: $purple-bold !important;
  }

  .center-avatar{
    text-align: center;

    .avatar{
      width: 120px;
      height: 120px;
      border-radius: 100px;
    }
  }
}