$purple: #615aeb;
$purple-bold: #4e46e9;
.register{
  .center-posistion{
    position: absolute;
    width: 350px;
    height: fit-content;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    .title{
      text-align: center;
      font-size: x-large;
      margin-bottom: 30px;
    }

    .error-text{
      color: red !important;
    }

    button.register-button{
      width: 100%;
      margin-top: 15px;
      background-color: $purple;
      border: $purple;
    }
  
    button.register-button:hover{
      background-color: $purple-bold;
      border: $purple-bold;
    }
  
    button.register-button:active,
    button.register-button:focus {
      background-color: $purple-bold !important;
      border: $purple-bold !important;
    }
  }
}